script(type='text/javascript', src='https://code.jquery.com/jquery-1.12.4.min.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
script(type='text/javascript', src='https://cdn.auth0.com/js/auth0/8.12.0/auth0.min.js')
script(type='text/javascript', src='/js/search.js')