header
  nav.navbar.navbar-default.navbar-inverse
    .container-fluid
                      
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/login') Log Out
        li
          a(href='/tickets')
