header
  nav.navbar.navbar-default.navbar-inverse
    .container-fluid
      .navbar-header
        li
          a(href='/user')
            img#logoImg(src='/images/barsfavicon.png')
                    
                      
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/logout') Log Out
                       
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/sdk') SDK
                          
        li
          a(href='/sampledata') Sample Data     
                           
        li
          a(href='/pig') Product Info Guide
                           
        li
          a(href='/faqs') FAQS
                           
        li
          a(href='/help') Help Portal
