header
  nav.navbar.navbar-default.navbar-inverse
    .container-fluid
                      
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/tickets') Tickets
        li
          a(href='/logout') Log Out
        
