extends layout

block content

    .wrapper
      #welcomeSign
        h1
          center  Help Portal
        center    
          p#ticketIdHolder 
                   
      .list-group.main-section1.marginSep1.addBorder
       
        h2.text-center Create Help Ticket
                         
        br
                           
        
        center
          button.btn.btn-primary.btn-lg(data-toggle="modal", data-target="#myModalNorm") Create Ticket
      
       
      .list-group.main-section2.marginSep2.addBorder
        
        .card(style='width: 32rem;')
          .card-block
            h2.card-title.text-center Have you tried FAQs?
                      
        br
        
        .card(style='width: 32rem;')
          .card-block
                               
            center
              a.btn.btn-primary(href='/faqs') FAQs
          
      

    #myModalNorm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span(aria-hidden='true') &times;
              span.sr-only Close
            h4#myModalLabel.modal-title
                Create Ticket
          .modal-body
            form(role='form')
              .form-group
                input#myTitle.form-control(type='text', placeholder='Ticket Title')
                label(for='form3')
              .form-group
                input#myCategory.form-control(type='text', placeholder='Category')
                label(for='form4')
              .form-group
                input#myPriority.form-control(type='text', placeholder='Priority (type High, Medium, or Low)')
                label(for='form5')
              .form-group
                input#myEmail.form-control(type='text', placeholder='Email')
                label(for='form6')
              .form-group
                input#myCompany.form-control(type='hidden', value="#{company}")
              .form-group
                textarea#form6.md-textarea(type='text', style='height: 100px')
                label(for='form7')
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close

            button#addTicket.btn.btn-primary(type='button', data-dismiss='modal') Submit Ticket


    iframe.frame(src="#{url}")

    script(src="https://code.jquery.com/jquery.js")

    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    
    script(type='text/javascript', src='/js/app.js')
      

