

doctype html
head
    title Ticket App
         
    meta(charset='utf-8')
         
    meta(name='viewport', content='width=device-width, initial-scale=1')
        
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
         
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    
  body
          
    .container
      .row
        .col-sm-12
          div.jumbotron
            p The content of this application has been changed for privacy reasons. Some pages have been removed as well as some funcinolities.
            p This app uses authentication. To login, please use this information
            ul
              li Username: user@gmail.com
              li Password: user
            br
            br
            a.btn.btn-default(href='/tickets') Log In
