doctype html(lang='en')
head
    title Luminar
         
    meta(charset='utf-8')
         
    meta(name='viewport', content='width=device-width, initial-scale=1') 
     
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

    script(src="https://cdn.auth0.com/js/auth0/8.7/auth0.min.js")

        
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')


    script(type='text/javascript', src='https://code.jquery.com/jquery-1.12.4.min.js')
    script(type='text/javascript', src='https://cdn.auth0.com/js/auth0/8.12.0/auth0.min.js')
    script(type='text/javascript', src='/js/search.js')
    script(type='text/javascript', src='/js/app.js')
       
  body
    header
      nav.navbar.navbar-default.navbar-inverse
        .container-fluid
          .navbar-header
            li
              a(href='/user')
                img#logoImg(src='/images/barsfavicon.png')
                        
                          
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/logout') Log Out
                           
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/sdk') SDK
                              
            li
              a(href='/sampledata') Sample Data     
                               
            li
              a(href='/pig') Product Info Guide
                               
            li
              a(href='/faqs') FAQS
                               
            li
              a(href='/help') Help Portal


   block content