extends layout

block content


	.wrapper
		#welcomeSign
			h1 Product Info Guide
			h4 Click on the cover to download

		a(href="/G2 Product Information Guide v1.5.pdf", download="G2 Product Information Guide")
			img.userguidepic(src="./images/product info guide cover.png") 		