extends ./layouts/default

block content

    .wrapper
        #welcomeSign
            h1 SDK
            h4 Click icon to download


        a(href="/lumsdk-2.1.1.zip", download="LumSDK")
            img.userguidepic(src="./images/sdkIcon.png")

        br

        center
            a(href="/LumSDK User Doc 2.1.2.pdf", download="LumSDKUserDoc") 
                h2 LumSDK User Documentation 