link(rel='stylesheet', href='/ticketman/css/bootstrap.min.css')
link(rel='stylesheet', href='/ticketman/css/app.css')

<link rel="stylesheet" href="/ticketman/assets/css/application.css">

link(rel='stylesheet', href='/ticketman/font-awesome/css/font-awesome.min.css')


